@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-search {
    margin: auto;
    border-radius: 20px;
    border: 1px solid #d3d3d3; 

    display: flex;
    justify-content: space-around;
    align-items: center; 

    height: 98px;
    width: 1325px;
    
    background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
}

.container-search > img{
  width: 37px;
  height: 34px;
}

.btn-pesquisar-pturistico {
  display: flex;
  justify-content: center;

  margin-right: 30px;
}

.btn-submit-pturistico {
  width: 177px;
  height: 46px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  background-color: #FF6600;
  border-radius: 23px;
  border: none;
  box-shadow: 0px 4px 16px 0px #00000025;
  cursor: pointer;
}

.search-local{
  display: flex;
  margin: 0 30px 17px 35px;
}

.search-local > div{
  display: flex;
  flex-direction: column;
}

.search-local > div > span{
  font-family: "Poppins", sans-serif;
  color: #004369;
  font-weight: 450;
  font-size: 15px;
}

.origem{
  font-family: "Poppins", sans-serif;

  border-right: 0.8px solid #BFC1C3;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-radius: 10px 10px 10px 10px;

  height: 35px;
  width: 228px;

  background-size: 20px;
  background-position: 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;
}

.search-price{
  display: flex;
  flex-direction: column;
  margin: 0 30px 17px 0;
  padding: 0%;
}

.search-price > div{
  display: flex;
  flex-direction: column;
}

.search-price > span{
  font-family: "Poppins", sans-serif;
  color: #004369;
  font-weight: 450;
  font-size: 15px;
}

.preco{
  display: flex;
  justify-content: space-between;
  margin: 6px 0 3px 0;
  padding: none;
}

.preco > span{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #004369;
}

.slidecontainer {
    width: 100%;
  }
  
  
.volta{
  font-family: "Poppins", sans-serif;

  border: none;
  border-radius: 0 10px 10px 0;

  height: 35px;
  width: 164px;

  background-size: 20px;
  background-position: 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

::placeholder{
  color: #BFC1C3;
}

.search-avaliation{
  display: flex;
  flex-direction: column;
  margin: 0 30px 17px 0;
}

.search-avaliation> span{
  font-family: "Poppins", sans-serif;
  color: #004369;
  font-weight: 450;
  font-size: 15px;
}

.avaliation{
  font-family: "Poppins", sans-serif;
  color: #BFC1C3;

  border-radius: 10px;
  border: none;
  height: 35px;
  width: 126px;

  background-size: 20px;
  background-position: 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;

  box-shadow: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.avaliation option{
  background-color: #d0e4f0;

  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.avaliation option:hover{
  background-color: black;
}

.search-category{
  display: flex;
  flex-direction: column;
  margin: 0 30px 17px 0;
}

.search-category> span{
  font-family: "Poppins", sans-serif;
  color: #004369;
  font-weight: 450;
  font-size: 15px;
}

.category{
  font-family: "Poppins", sans-serif;
  color: #BFC1C3;

  border-radius: 10px;
  border: none;
  height: 35px;
  width: 126px;

  background-size: 20px;
  background-position: 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;

  box-shadow: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.category option{
  background-color: #d0e4f0;

  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.seta{
  height: 8px;
  width: 15px;
}

#input{
  width: 180px;
}

.range .field{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  margin-top: 24px;
  margin-bottom: 5px;
}

.range .sliderValue{
  position: relative;
  width: 100%;
  margin-left: 5px;
}

.range .sliderValue span{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 22px;
  width: 22px;

  font-size: 9px;
  color: 004369;
  font-weight: 400;

  top: 1px;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  
  line-height: 15px;
  z-index: 2;
}

.range .sliderValue span.show{
  transform: translateX(-50%) scale(1);
}

.range .sliderValue span:after{
  display: flex;
  justify-content: center;
  content: "";
  position: absolute;
  height: 14px;
  width: 47px;
  background: white;

  left: 50%;
  transform: translateX(-50%);
  z-index: -1;

  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.range .field .value{
  position: absolute;
  font-size: 13px;
  font-weight: 500;
  color: #004369;
}

.range .field .value.left{
  left: -28px;
}
.range .field .value.right{
  right: -59px;
}

.range .field input{
  -webkit-appearance: none;

  height: 3px;
  width: 100%;

  background: white;

  border-radius: 5px;
  border: none;
  outline: none;
}
.range .field input::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 11px;
  width: 11px;
  background: #004369;
  border-radius: 50%;
  cursor: pointer;
}

.range .field input::-moz-range-progress{
  background: #004369;
}

span{
  font-style: normal;
}

.origem:focus, .category:focus, .avaliation:focus{
  outline: none;
  border: 2px solid #004369;
}