h1{
    font-weight: normal;
}

/*DETALHES DE COMPRA*/


.Details{
    width: 1255px;
    height: fit-content;
    padding: 30px;
    /*border: 1px solid;*/
    border-color: #004639;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(199, 226, 242, 0.4) 0%, rgba(115, 131, 140, 0.1) 100%);

    font-size: 20px;
}

.Details .division{
    transform: rotate(180deg);
    height: auto;
    width: 1185px;
}

.Name_Price_details{
    display:flex;
    justify-content: space-between;
}



/* FORMA DE PAGAMENTO */


.FormaPag{
    display: grid;
    justify-content: center;
    /*border: 1px solid;*/
    border-color: #004639;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(199, 226, 242, 0.4) 0%, rgba(115, 131, 140, 0.1) 100%);
    width:612px;
    height: 286px;
    padding: 10px;
}

.FormaPag > h1{
    font-size: 30px;
}

.formas_pag{
    margin:15px;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid;
    border-color: #004369;
    border-radius: 10px;
    width: 545px;
    height: 183px;
    line-height: 19px;
}

.Row_Type > label{
    font-size: 12.37px;
    padding: 5px;
}

.Row_Type{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[name=FP]{
    margin-left:15px;
    accent-color: #004369;
}

.formas_pag .divisionFormPag{
    transform: rotate(180deg);
    height: auto;
    width: 100%;
    margin: 0;
}


/*Confirmar Dados*/

.iconCarro{
    width: 15px;
    height: 15px;
}

.iconPassageiro{
    width: 20px;
    height: 20px;
}

.iconData{
    width: 20px;
    height: 20px;
}

.iconHospedagem{
    width: 20px;
    height: 20px;
}

.Dados{
    font-size: 14px;
    line-height: 18px;
}

.Dados > p{
    line-height: 16px;
}

.ConfirmDados{
    padding: 15px;
    /*border: 1px solid;*/
    border-color: #004863;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(199, 226, 242, 0.4) 0%, rgba(115, 131, 140, 0.1) 100%);
    border-radius: 10.5088px;
    width:610px;
    height:286px;
    display:grid;
    justify-content: align-start;
}

.confirm_dados{
    padding: 8px;
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
    grid-template-columns: auto auto;
}

.CentralizarTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 0 0 2% 0;
}


/*Compra Carro*/

.ContainerPag-carro{
    width: 1252px;
    height: 230px;

    background: linear-gradient(90deg, rgba(199, 226, 242, 0.4) 0%, rgba(115, 131, 140, 0.1) 100%);
    border-radius: 13.01px;

    display: flex;
    flex-direction: column;
    gap: 7%;

    padding: 30px 40px 0 50px;
}

.ContainerPag-carro .titlePag-carro{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContainerPag-carro .titlePag-carro .iconeCar{
    width: 28px;
    height: 30px;
    
    margin: 0 5% 0 0;
}

.ContainerPag-carro .titlePag-carro .iconeMenos{
    width: 21.68px;
    height: 5.42px;

    margin: 0 0 0 68%;
}

.ContainerPag-carro .titlePag-carro .iconeMenos:hover{
    cursor: pointer;
}

.ContainerPag-carro .titlePag-carro > label{
    font-size: 32.53px;
    font-weight: 300;
}

.ContainerPag-carro .conteudoPag-carro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 0 7.4%;
}

.ContainerPag-carro .conteudoPag-carro .detalhesPag-carro{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ContainerPag-carro .conteudoPag-carro .detalhesEntrega-carro{
    width: 480px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5%;
}

.ContainerPag-carro .conteudoPag-carro .detalhesEntrega-carro > label{
    font-size: 23.85px;
    font-weight: 300;
}

.ContainerPag-carro .conteudoPag-carro .detalhesEntrega-carro > span{
    font-size: 21.68px;
    font-weight: 400;
}

.ContainerPag-carro .conteudoPag-carro .detalhesCliente-carro{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 8%;
}

.ContainerPag-carro .conteudoPag-carro .detalhesCliente-carro .titleDetakhesCliente-carro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerPag-carro .conteudoPag-carro .detalhesCliente-carro .titleDetakhesCliente-carro > label{
    font-size: 18.18px;
    font-weight: 300;
}

.ContainerPag-carro .conteudoPag-carro .detalhesCliente-carro .titleDetakhesCliente-carro .divisionDetalhesCliente-carro{
    width: 101.26px;
    height: 3px;
    background-color: black;

    margin: 0%;
}

.ContainerPag-carro .conteudoPag-carro .imagemCarroPag-carro > img{
    width: 198.98px;
    height: 108.42px;
    
    margin: 0 100px 0 0;
}

/*Compra Hospedagem*/

.ContainerPag-hosp{
    width: 1252px;
    height: 176px;

    background: linear-gradient(90deg, rgba(199, 226, 242, 0.4) 0%, rgba(115, 131, 140, 0.1) 100%);
    border-radius: 13.01px;

    display: flex;
    flex-direction: column;
    gap: 23%;

    padding: 30px 40px 0 50px;
}

.ContainerPag-hosp .titlePag-hosp{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ContainerPag-hosp .titlePag-hosp .iconeHosp{
    width: 30.71px;
    height: 20.94px;

    margin: 0 5% 0 0;
}

.ContainerPag-hosp .titlePag-hosp .subTitlePag-hosp{
    display: flex;
    flex-direction: row;
    gap: 31px;
    align-items: center;
}

.ContainerPag-hosp .titlePag-hosp .subTitlePag-hosp .nomeNormal{
    font-size: 27.92px;
    font-weight: 300;
}

.ContainerPag-hosp .titlePag-hosp .subTitlePag-hosp .nomeGrande{
    font-size: 17.92px;
    font-weight: 300;
    width: 600px;
}

.ContainerPag-hosp .titlePag-hosp .subTitlePag-hosp > div{
    font-size: 27.92px;
    font-weight: 400;

    display: flex;
    gap: 5px;
    align-items: center;
}

.ContainerPag-hosp .titlePag-hosp .subTitlePag-hosp .iconeStar{
    width: 35.61px;
    height: 35.61px;
}

.ContainerPag-hosp .titlePag-hosp .iconeMenosGrande{

    width: 21.68px;
    height: 5.42px;
    
    margin: 0 0 0 26%;
}

.ContainerPag-hosp .titlePag-hosp .iconeMenos{

    width: 21.68px;
    height: 5.42px;
    
    margin: 0 0 0 55%;
}

.ContainerPag-hosp .titlePag-hosp .iconeMenos:hover{
    cursor: pointer;
}

.ContainerPag-hosp .conteudoPag-hosp {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 7%;

    margin: 0 0 0 7.6%;
}

.ContainerPag-hosp .conteudoPag-hosp > label{
    font-size: 20.47px;
    font-weight: 300;
}

.ContainerPag-hosp .conteudoPag-hosp > span{
    font-style: normal;
    font-size: 18.61px;
    font-weight: 300;
}