.container-cardVoo-Compra {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 20px;

  background: linear-gradient(to right, #C7E2F240, #73838C10);
  border-radius: 12px;

  align-content: space-between;
}

.container-cardVoo-Compra div {
  display: flex;
}

.nav-cardVooCompra{
  gap: 92%;
  align-items: center;
}

.iconeAviao-Compra {
  width: 25px;
  height: 21px;
}

.iconeRemover-Compra{
  width: 14px;
  height: 3px;
}

.div-origemDestino{
  flex-direction: column;
}

.div-origemDestino h1{
  font-size: 22px;
  font-weight: 300;
}

.div-origemDestino p{
  transform: translateY(-30%);
  font-size: 12px;
  font-weight: 300;
}

.div-data{
  font-size: 14px;
  font-weight: 400;
}

.div-horarios{
  gap: 	12px;
}

.div-horarios div{
  flex-direction: column;
}

.div-horarios div label{
  font-size: 12px;
  font-weight: 300;
}

.div-horarios div p{
  transform: translateY(-25%);
  font-size: 18px;
  font-weight: 300;
}

.hr-Horarios{
  border-bottom: 1.5px solid #000;
  transform: translateY(40%);
}

.div-logo{
  justify-content: end;
}