.title-paginaCompra {
    margin: 120px 0 50px 80px;

    font-size: 36px;
    font-weight: 400;
}

.finalizar-compra {
    display: grid;
    width: 82%;
    gap: 30px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container-infoEvoos{
    display: grid;
    grid-template-columns: auto 30px 40%;
}

.container-cardsVoos{
    display: grid;
    gap: 30px;
}

.card-confirmarEformaPag{
    display: grid;
    grid-template-columns: auto 30px 50%;
}