@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px 20px 20px;
    background: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    z-index: 100;
}

.Logo{
    width: 231px;
    height: 51px;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav{
    display: flex;
    justify-content: center;
    gap: 5px;
}

#iconVoo{
    width: 27px;
    height: 27px;
}

#iconHospedagem{
    width: 21px;
    height: 28px;
}

#iconCarro{
    width: 25px;
    height: 25px;
}

#iconTuristico{
    width: 23px;
    height: 25px;
}

.title_nav{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 300;
    color: black;
    
    text-decoration: none;
}

#navbar_buttons{
    top: 0;
    left: 0;
    padding: 0;
    gap: 50px;

    display: flex;
    align-items: center;
}



.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}




#plano{
    width: 36px;
    height: 35px;
}

#perfil{
    width: 36px;
    height: 36px;
}

.buttons>.title_nav{
    font-size: 10px;
}