@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.card-carro {
    background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
    border-radius: 20px;

    margin: 0 auto;
    width: 90%;
    height: 400px;
    margin-top: 15vh;

    display: grid;
    grid-template: 25% 75% / 55% 45%;
    grid-template-areas:
    "title form" 
    "imagem form";
    padding-top: 50px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 65px;
    z-index: 1;
}

.car-title {
    grid-area: title;
    display: flex;
    align-items: center;

    justify-content: left;
    font-size: 65px;
    font-weight: 500;

    font-family: "Poppins", sans-serif;
}


.car-space {
    grid-area: imagem;
    /*content: url('Images/Carro_Card.png');*/
    position: relative;
    place-items: start / end;
    
}

.car-image{
    display: flex;
    justify-content: center;
    position: relative;
    height: 1px;
    top: -420px;
    left: -210px
}

img{
    width: 50%;
    height: 500px;
}


.form-cardcarro {
     grid-area: form;

    display: grid;
    grid-template-rows: 80% 20%;

    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 25px;

    background: linear-gradient(to bottom, #ffffff40, #ffffff10);
    border: 1.5px solid #ffffff80;
    border-radius: 20px;
    z-index: 0;
}

.car-grid-inputs{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.car-input-form{
    display: grid;
    width: 90%;
    grid-template-rows: 30% 70%;
    justify-content: center;
}

.car-etiqueta{
    margin-left: 15px;
}

.car-input[type=text]{
    /*background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    display: flex;
    
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    width: 215px;
    height: 40px;*/
    border: none;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    width: 215px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
  
    height: 35px;
    width: 200px;
  
    background-size: 20px;
    background-position: 10px; 
    background-repeat: no-repeat;
    padding-left: 35px;
    display: flex;
    justify-content: right;
    align-items: right;
    place-items: right / right;
    padding-top: 1px;

    font-family: "Poppins", sans-serif;
}

.car-input[type=date]{
    font-family: "Poppins", sans-serif;

  /*border-right: 0.8px solid #BFC1C3;
  border-bottom: none;
  border-top: none;
  border-left: none;*/
  border: none;
  box-shadow: 0px 4px 14px 0px #B2C9DB;
  width: 215px;
  height: 40px;
  border-radius: 10px;

  height: 35px;
  width: 200px;

  background-size: 20px;
  background-position: 10px; 
  background-repeat: no-repeat;
  padding-left: 35px;
  display: flex;
  justify-content: left;
  align-items: left;
  place-items: left / left;
  padding-top: 1px;
    
}

.car-input[type=date]:focus, .car-input[type=text]:focus{
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-datetime-edit {
  color: #BFC1C3;
}

::placeholder{
  color: #BFC1C3;
}



.car-btn-pesquisar{
    display: flex;
    position: relative;
    align-items: right;
    justify-content: right;
    left: -12px;
}

.car-pesquisar{
    width: 200px;
    height: 100%;
    color: #ffffff;
    font-size: 18px;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #ffffff25;

    font-family: "Poppins", sans-serif;
}

/*------------------------------------------------------*/

.locadoras-popular {
    margin: 0 auto;
    width: 70%;
    height: 580px;
    margin-top: 15vh;
    margin-bottom: 15vh;

    display: grid;
    grid-template-rows: auto auto auto;
}

.title-locadora {
    display: flex;
    align-content: top;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 35px;

    font-family: "Poppins", sans-serif;
}

.space-locadora-popular{
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    justify-content: space-between;
}

.card-locadora-popular {
    display: grid;
    grid-template-rows: auto auto;
    border: 1.5px solid #ACC6E9;
    border-radius: 20px;
    box-shadow: 0px 4px 14px 0px #B2C9DB25;
    cursor: pointer;
}

.img-card-locadora {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 188px;
}

.carro-card-locadora {
    font-weight: 600;
    font-size: 29.53px;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

.locadora-btn-popular{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    height: 48px;
}

/*------------------------------------------------------*/

.recomendacao-carro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.title-recomendacao{
    display: flex;
    align-content: top;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

.space-recomendacao-carro{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.card-recomendacao-carro{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.card-recomendacao-carro:nth-child(odd) .img-card-recomendacao {
    order: -1;
}

.img-card-recomendacao {
    max-width: 100%;
    height: auto;
    width: 495px; 
    margin: 10px 0;
}

.carro-card-recomendacao{
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    /*margin-left: 150px;
    margin-bottom: 70px;*/
    top: -30px;
    left: 150px;
}

.recomendacao-btn-eco{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    margin-left: 150px;
    height: 48px;
    left: -190px;
}

.recomendacao-btn-inter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    margin-left: 150px;
    height: 48px;
    left: -212px;
}

.recomendacao-btn-lux{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    margin-left: 150px;
    height: 48px;
    left: -165px;
}