@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*---------------------Forms Carro---------------------------------*/
.card-carro {
    background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
    border-radius: 20px;
    margin: 0 auto;
    width: 90%;
    height: 400px;
    margin-top: 15vh;
    display: grid;
    grid-template: 25% 75% / 55% 45%;
    grid-template-areas:
    "title form" 
    "imagem form";
    padding-top: 50px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 65px;
    z-index: 0;
    position: relative;
}

.car-space {
    grid-area: imagem;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
}

.car-image {
    width: 100%; 
    height: auto;
    object-fit: contain; 
}

.car-image img {
    width: 100%; 
    height: auto;
    object-fit: contain; 
}


.car-title {
    grid-area: title;
    display: flex;
    align-items: center;

    justify-content: left;
    font-size: 50px;
    font-weight: 500;

    font-family: "Poppins", sans-serif;
}

.form-cardcarro {
    grid-area: form;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 30px;
    background: linear-gradient(to bottom, #ffffff40, #ffffff10);
    border: 1.5px solid #ffffff80;
    border-radius: 20px;
    margin: 0 auto;
}

.car-grid-inputs {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; 
    justify-items: center;
}

.car-input-form {
    display: grid;
    width: 100%;
    justify-content: center;
}

.car-etiqueta{
    margin-left: 5px;
}

.car-input[type=text]{
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    color: #BFC1C3;
    outline: none;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.car-input[type=date]{
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    color: #BFC1C3;
    outline: none;
    margin-right: 10px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.car-input[type=time]{
    padding-left: 12px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 60px;
    max-width: 60px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    color: #BFC1C3;
    outline: none;
}

.car-input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
}

.car-input[type=date]:focus, .car-input[type=text]:focus, .car-input.selectHours:focus{
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-datetime-edit {
  color: #BFC1C3;
}

::placeholder{
  color: #BFC1C3;
}

.car-btn-pesquisar {
    grid-column: 1 / 2; /* Coloca na primeira coluna */
    grid-row: 2 / 3; /* Segunda linha */
    margin-top: 50px;
}

.car-pesquisar {
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    font-size: 18px;
    color: #ffffff;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #ffffff25;
    font-family: "Poppins", sans-serif;
}

.car-input-className>div{
    display: flex;
    flex-direction: row;
}

/*---------------------Locadoras Populares---------------------------------*/

.locadoras-popular {
    margin: 0 auto;
    width: 70%;
    height: auto;
    margin-top: 15vh;
    margin-bottom: 15vh;

    display: grid;
    grid-template-rows: auto auto auto;
}

.title-locadora {
    display: flex;
    align-content: top;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 35px;

    font-family: "Poppins", sans-serif;
}

.space-locadora-popular{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    justify-content: space-between;
    grid-row-gap: 40px;

}


.locadora-btn-popular{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    height: 48px;
}

/*---------------------Recomendação Carro---------------------------------*/

.recomendacao-carro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    clear: both;
}

.title-recomendacao{
    display: flex;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 35px;
    font-family: "Poppins", sans-serif;
}

.space-recomendacao-carro{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.card-recomendacao-carro{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.card-recomendacao-carro:nth-child(odd) .img-card-recomendacao {
    order: -1;
}




.recomendacao-btn-eco{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    margin-left: 150px;
    height: 48px;
    left: -190px;
}

.carro-card-recomendacao-eco{
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    /*margin-left: 150px;
    margin-bottom: 70px;*/
    top: -30px;
    left: 150px;
    font-style: normal;
}

.img-card-recomendacao-eco {
    max-width: 100%;
    height: auto;
    width: 495px; 
    margin: 10px 0;
}

.recomendacao-btn-inter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    margin-left: 150px;
    height: 48px;
    left: -212px;
}

.carro-card-recomendacao-inter{
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    top: -30px;
    left: 150px;
    font-style: normal;
}

.img-card-recomendacao-inter-cel{
    display: none;
}

.img-card-recomendacao-inter {
    max-width: 100%;
    height: auto;
    width: 495px; 
    margin: 10px 0;
}

.recomendacao-btn-lux{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 6vh;
    height: 48px;
    margin-left: 150px;
    height: 48px;
    left: -140px;
}

.carro-card-recomendacao-lux{
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    /*margin-left: 150px;
    margin-bottom: 70px;*/
    top: -30px;
    left: 175px;
    font-style: normal;
}

.img-card-recomendacao-lux {
    max-width: 100%;
    height: auto;
    width: 495px; 
    margin: 10px 0;

    position: relative;
    left: 40px;
}

@media (max-width: 1300px) {
    .car-image {
        display: none;
    }

    .card-carro {
        grid-template-areas:
        "title"
        "form";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        padding: 20px;
        height: auto;
    }
    
    .form-cardcarro{
        width: 70%;
    }

    .car-title {
        font-size: 40px;
        text-align: center;
        justify-content: center;
    }

    .car-grid-inputs {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .space-locadora-popular {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-card-recomendacao-inter{
        display: none;
    }

    .img-card-recomendacao-inter-cel{
        display: flex;
        max-width: 500px;
        height: auto;
        width: 495px; 
        margin: 10px 0;
    }

    .img-card-recomendacao-eco, .img-card-recomendacao-lux{
        max-width: 500px;
    }

    .space-recomendacao-carro {
        flex-direction: column; /* Muda para coluna */
        align-items: center; /* Centraliza os cards */
        width: 100%; /* Largura total */
    }

    .card-recomendacao-carro {
        width: 90%; 
        margin-bottom: 30px; 
        flex-direction: column; 
        align-items: center;
        width: 100%; 
    }

    .title-recomendacao{
        text-align: center;
    }

    .recomendacao-btn-eco, .recomendacao-btn-inter, .recomendacao-btn-lux{
        align-items: center;
        margin-left: 0;
        left: 0;
    }

    .carro-card-recomendacao-eco, .carro-card-recomendacao-inter, .carro-card-recomendacao-lux{
        left: 0;
    }

    .car-btn-pesquisar {
        margin-top: 23px;
    }
}

@media (max-width: 800px) {
    .car-grid-inputs {
        order: 1; 
    }

    .card-carro {
        background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
        width: 100%;
        border-radius: 0;
        padding: 15px;
        height: auto;
    }

    .car-title {
        font-size: 30px;
        text-align: center;
    }

    .form-cardcarro {
        width: 70%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .car-grid-inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .car-btn-pesquisar {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        margin: 0 auto; 
        order: 2; 
    }

    .car-pesquisar {
        width: 100%;
        max-width: 150px;
    }

    .space-locadora-popular {
        grid-template-columns: 1fr; 
        justify-items: center;
    }
    
    .title-locadora {
        font-size: 28px; 
    }

    .title-recomendacao{
        font-size: 28px;
    }

    .locadora-btn-popular {
        height: 40px; 
    }

    .recomendacao-btn-eco, .recomendacao-btn-inter, .recomendacao-btn-lux{
        width: 200px;
    }

    .img-card-recomendacao-eco, .img-card-recomendacao-lux, .img-card-recomendacao-inter-cel{
        max-width: 350px;
    }
}