/* Direita em Baixo: Planos já Reservados pelo Usuário */

.planos-reservados-perfil{
    grid-area: planos-reservados;

    display: grid;
    grid-template-rows: 15% 65% 20%;

    padding: 12px;
    margin-left: 10px;
}

.titulo-reservados-perfil{
    align-self: center;

    font-weight: 500;
    font-size: 40px;
}

.cards-planos-reservados-perfil{
    display: grid;
    grid-template-rows: 15% auto auto;
}

.heads-reservados-perfil{
    display: grid;
    grid-template-columns: 15% 30% 20% 20% 15%;
    margin-top: 15px;
}

.headNome-tabela-reservado, 
.headPreco-tabela-reservado, 
.headLocalizacao-tabela-reservado{
    font-size: 20px;
    font-weight: 350;
}

.plano-reservados-perfil{
    display: grid;
    grid-template-columns: 15% 30% 20% 20% 15%;
    align-items: center;
    border-bottom: 1px solid #00000060;
}

.imagemViagem-reservado-perfil{
    width: 95px;
    height: 95px;
    border-radius: 8px;
}

.nomeViagem-reservado-perfil,
.precoViagem-reservado-perfil,
.localizacaoViagem-reservado-perfil{
    font-size: 18px;
    font-weight: 400;
}

.botoes-reservado-perfil{
    display: flex;
    justify-content: space-evenly;
    height: 70%;
    border-left: 1px solid #00000060;
}

.btnEditar-reservado-perfil{
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url(../Images/icones-perfil/editar-branco.png);
    background-color: #004369;
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btnExcluir-reservado-perfil{
    display: flex;
    align-self: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url(../Images/icones-perfil/excluir.png);
    background-color: #BC0B0B;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btnEditar-reservado-perfil:hover,
.btnExcluir-reservado-perfil:hover{
    transition: 0.1s;
    width: 42px;
    height: 42px;
}

/* Opções de páginas de planos reservados */

.paginas-plano-reservado-perfil{
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
}

.numeros-paginas-reservado{
    display: flex;
    width: 20%;
    justify-content: space-between;
    margin-left: 28px;
}

.pagAtiva-plano-reservado{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border: none;
    background-color: #FF6E5A;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.pagInativa-plano-reservado{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    font-weight: 350;
    text-decoration: underline;
}

.pagExtras-plano-reservado{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    color: #000;
    font-size: 24px;
    font-weight: 350;
}

.navegar-plano-reservado-perfil{
    display: flex;
    justify-content: space-evenly;
}

.btnVoltar-reservado, 
.btnSeguir-reservado{
    display: flex;
    align-self: center;
    background: none;
    border: none;
    cursor: pointer;
}

.img-voltar-reservado,
.img-seguir-reservado{
    width: 18px;
    height: 25px;
}