/* Direita em Cima: Planos em Andamento do Usuário */

.planos-andamento-perfil{
    grid-area: planos-andamento;

    display: grid;
    grid-template-rows: 15% 85%;

    padding: 12px;
    margin-left: 10px;
}

/* Título */

.titulo-planos-andamento-perfil{
    display: grid;
    grid-template-columns: 88% 12%;
}

.titulo-andamento-perfil{
    align-self: center;

    font-weight: 500;
    font-size: 40px;
}

.ver-todos-andamento-perfil{
    align-self: end;
    margin-bottom: 9.5px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #ff6600;
}

.ver-todos-andamento-perfil:hover{
    font-weight: 500;
    font-size: 18px;
    color: #cb5100;
    text-decoration: underline;
}

/* Cards */

.cards-plano-andamento-perfil{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-between;
    margin-top: 20px;
}

.card-andamento-perfil{
    display: grid;
    grid-template-rows: 62% 22% auto;

    background: linear-gradient(to right, #C7E2F260, #73838C20);
    box-shadow: 0 0px 0.5px 1px #00436950;
    border-radius: 12px;
}

.foto-local-perfil{
    width: 100%;
    height: 100%;

    border-radius: 12px 12px 0 0;
    border: none;
}

.nome-local-perfil{
    align-self: center;
    margin-left: 10px;

    font-weight: 450;
    font-size: 24px;
}

.preco-editar-local-perfil{
    display: grid;
    grid-template-columns: auto 45px;
    align-items: center;
}

.preco-local-perfil{
    margin-left: 10px;

    font-weight: 350;
    font-size: 20px;
}

.btn-editar-local-perfil{
    width: 35px;
    height: 35px;
    justify-self: right;
    margin-right: 10px;
}