/* Grid Principal */

.main-grid-perfil{
    margin: 0 auto;
    margin: 25px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-top: 10vh;
    height: 100vh;

    display: grid;
    grid-template: 46% 54% / 25% 75%;
    grid-template-areas:
    "dados planos-andamento"
    "dados planos-reservados";
    gap: 25px;
}

/* Esquerda: Bloco de Dados do Usuário */

/* Titulo do Bloco */

.dados-perfil{
    background: linear-gradient(to right, #C7E2F260, #73838C20);
    box-shadow: 0 0px 0.5px 1px #004369;
    border-radius: 12px;

    grid-area: dados;
    display: grid;
    grid-template-rows: 8% 32% 16% 35% 9%;
    padding: 18px;
}

.titulo-dados-perfil{
    display: grid;
    grid-template-columns: auto 40px;
}

.titulo-perfil{
    justify-self: left;
    font-size: 32px;
    font-weight: 500;
}

.editar-perfil{
    width: 40px;
    height: 40px;
}

/* Dados do Usuário */

.info-dados-perfil{
    display: grid;
    justify-content: center;
}

.userfoto-perfil{
    justify-self: center;

    border-radius: 100px;
    width: 120px;
    height: 120px;
}

.usernome-perfil{
    justify-self: center;
    align-self: center;

    font-size: 28px;
    font-weight: 500px;
    color: #000000;
}

.useremail-perfil{
    justify-self: center;
    align-self: center;

    font-size: 18px;
    font-weight: 400px;
    color: #00000095;
}

.usersenha-perfil{
    justify-self: center;
    align-self: center;

    font-size: 18px;
    font-weight: 400px;
    color: #00000060;
}

.usernasc-perfil{
    justify-self: center;
    align-self: center;
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 400px;
    color: #00000095;
}

/* Perfil do Viajante */

.userperfil-perfil{
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.hr-perfil-cima{
    background-color: #00000080;
    margin-bottom: 30px;
}

.titulo-userperfil{
    justify-self: center;
    
    font-weight: 400;
    font-size: 16px;
}

.userperfil{
    justify-self: center;

    font-weight: 500;
    font-size: 35px;
}

.hr-perfil-baixo{
    background-color: #00000080;
    margin-top: 35px;
}

/* Calendário */

.calendario-perfil{
    display: grid;
    align-content: end;
}

.hr-calendario-baixo{
    background-color: #00000080;
    margin-top: 15px;
}

/* Botão de Logout */

.div-logout-perfil{
    display: flex;
    align-content: top;
}

.btn-logout-perfil{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75%;
    margin-top: 15px;

    background-color: #fff;
    border: none;
    /*border: 1.5px solid #a6a6a6;*/
    box-shadow: 0 1.8px 1.5px 1.5px #a6a6a6;
    border-radius: 8px;
}