.main-grid-perfil{
    display: grid;
    grid-template: 48% 52% / 30% 70%;
    grid-template-areas:
    "dados planos-andamento"
    "dados planos-reservados";

    margin-top: 10vh;
    height: 100vh;
    margin: 1%;
}

.dados-perfil{
    grid-area: dados;
    background-color: blue;
    display: flex;
}




.planos-andamento-perfil{
    grid-area: planos-andamento;
    background-color: brown;
}

.planos-reservados-perfil{
    grid-area: planos-reservados;
    background-color: chartreuse;
}