.navbar-testes{
    height: 75px;
}

.footer-testes{
    height: 250px;
}

.conteudo-testes{
    display: grid;
    width: 1920px;
    height: 1080px;
    padding-top: 50px;

    justify-items: center;
    align-content: top;
}

.Details{
    width: 1200px;
}

.Name_Price_details{
    display:flex;
    justify-content: space-between;
}