.containerGeral-Hosp {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 837.52px;
    height: 220px;
    margin-bottom: 50px;
}

.container-Card {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 837.52px;
    height: 220px;
    justify-content: space-between;
    border: 1.35864px solid rgba(85, 85, 85, 0.29);
    border-radius: 27.1727px;
    overflow: hidden;
    border-radius: 27.17px;
    background-color: #fff;
    z-index: 2;
    transition: 0.3s;
}

/* Aumenta o tamanho e muda a cor quando hover no card ou no botão */
.container-Card:hover,
.btnPopup-AddPlano-Compra:hover+.container-Card {
    width: 837.52px;
    height: 250px;
    background-color: #c7e2f225;
    transition: 0.3s;
    position: relative;
}

.btnPopup-AddPlano-Compra {
    display: flex;
    height: 50px;
    width: 52px;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
    padding: 20px;
    background-color: #004369;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    visibility: hidden;
    transition: transform 0.5s ease, visibility 0.5s ease;
    transform: translateX(-100px);
    z-index: 1;
}

/* Mostra o botão no hover */
.containerGeral-Hosp:hover .btnPopup-AddPlano-Compra,
.btnPopup-AddPlano-Compra:hover {
    visibility: visible;
    transform: translateX(0);
}

/* Mantém o estado do card mesmo quando o mouse está sobre o botão */
.container-Card.hover-active {
    width: 837.52px;
    height: 250px;
    background-color: #c7e2f225;
    transition: 0.3s;
    position: relative;
}



.btnPopup-AddPlano-Compra>img {
    width: 30px;
    height: 30px;
}

.left {
    display: flex;
    width: 600px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imghosp {
    width: 212px;
    height: auto;

    border-radius: 21px 0px 0px 21px;
}

.info .services {
    display: flex;
    gap: 10px;
}

.info-preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-right: 25px;
    width: 220px;
}

.hr {
    width: 80%;
    box-shadow: none;
    height: 180px;
    width: 0.5px;

    margin: 0 0 0 30px
}

.preco {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.titleinfohosp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 34px;
}

.localinfohosp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
}

.star-rating {
    display: flex;
    align-items: center;
    /* Para alinhar verticalmente o conteúdo */
    gap: 5px;
    /* Espaço entre a estrela, a avaliação e o número de votos */
}

.numstarinfohosp,
.numvotinfohosp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.numvotinfohosp {
    color: #858585;
}

.starinfohosp {
    width: 26.8px;
    height: 24px;

    background: url('../../../Images/Infos_Hosp/Star_Info_Hosp.png');
    background-repeat: no-repeat;
}

.descinfohosp {
    width: 361px;
    height: 56px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 10px;
    line-height: 15px;
}

.titleprecoinfohosp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10.9391px;
    line-height: 16px;

    color: #555555;
}

.precoinfohosp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 35.4608px;
    line-height: 53px;
}

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    background: rgba(172, 198, 233, 0.54);
    border-radius: 3.51333px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 13px 10px;
    width: auto;
    text-wrap: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 8.02667px;
    line-height: 11px;
    text-align: center;
    padding: 4px;
}

.cardwifiinfohosp,
.cardrefeicaoinfohosp,
.cardcafeinfohosp,
.cardpsicinainfohosp {
    width: 65.98px;
    height: 23px;

    background: rgba(172, 198, 233, 0.54);
    border-radius: 3.51333px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: 13px 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 7.02667px;
    line-height: 11px;
    text-align: center;

    display: flex;
    align-items: center;
    padding-right: 4px;
    padding-left: 20px;
}

.cardwifiinfohosp {
    background-image: url('../../../Images/Infos_Hosp/Wifi_Info_Hosp.png');
}

.cardrefeicaoinfohosp {
    background-image: url('../../../Images/Infos_Hosp/Refeicao_Info_Hosp.png');
}

.cardcafeinfohosp {
    background-image: url('../../../Images/Infos_Hosp/Cafe_Info_Hosp.png');
}

.cardpsicinainfohosp {
    background-image: url('../../../Images/Infos_Hosp/Pscina_Info_Hosp.png');
}