@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container-FiltroVoo{
  display: flex;
  flex-direction: column;
}

#filtro{
  display: none;
}

.container-all-filter{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 704px;

    background: linear-gradient(to bottom, #F3F8FB, #E2EBF3);

    border-radius: 20px;
    border-right: 1px solid #004369;
}

.section-filters{
    display: flex;
    flex-direction: column;

    align-items: first baseline;
    padding: 20px 0 0 38px;
}

.promotion{
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 10px;
}

.promotion > span{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    list-style-type: none;
    font-weight: 500;
    color: #004369;
}

.btnTogglePromocao {
    border: none;
    border-radius: 10px;

    background-color: white;

    width: 150px;
    height: 40px;

    background-image: url('../../../Images/Filtros/promocao_icon.png');
    background-size: 22px;
    background-position: 10px; 
    background-repeat: no-repeat;
    background-position-x: 12%;
    padding-left: 20px;

    text-align: center;
    align-items: center;

    cursor: pointer;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #BFC1C3;
}

.btnTogglePromocao:hover {
  border: 2px solid #004369;
  transition: background-color 0.3s ease;

  background-image: url('../../../Images/Filtros/promocaoHover_icon.png');
  background-size: 20px;
  background-position-x: 12%;
  background-color: #B2C9DB;
  color: #004369;
}

.btnTogglePromocao.active {
  border: 2px solid #004369;
  transition: background-color 0.3s ease;

  background-image: url('../../../Images/Filtros/promocaoHover_icon.png');
  background-size: 20px;
  background-position-x: 12%;
  background-color: #B2C9DB;
  color: #004369;
}

#btnToggleFiltro.active{
  border: 2px solid #004369;
  transition: background-color 0.3s ease;

  background-image: url('../../../Images/Filtros/promocaoHover_icon.png');
  background-size: 20px;
  background-position-x: 12%;
  background-color: #B2C9DB;
  color: #004369;
}

.seasons{
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
}

.seasons > span{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    list-style-type: none;
    font-weight: 500;
    color: #004369;
}

.button-seasons{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.primavera{
    border-radius: 10px;
    border: none;
    background-color: white;

    width: 133px;
    height: 40px;

    margin: 2px;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #BFC1C3;

    background-size: 18px 21px;
    background-image: url('../../../Images/Filtros/primavera_icon.png');
    background-position: 10px; 
    background-repeat: no-repeat;
    background-position-x: 9%;
    padding-left: 20px;

    text-align: center;
    align-items: center;
    cursor: pointer;
}
.primavera:hover{
  background-size: 18px 21px;
  background-image: url('../../../Images/Filtros/primaveraHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 7.5%;
  background-color: #B2C9DB;
  color: #004369;
}
.primavera.active{
  background-size: 18px 21px;
  background-image: url('../../../Images/Filtros/primaveraHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 7.5%;
  background-color: #B2C9DB;
  color: #004369;
}

.set-buttons{
    border-radius: 10px;
    border: none;
    background-color: white;

    width: 133px;
    height: 40px;

    margin: 2px;

    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #BFC1C3;

    background-position: 10px; 
    background-repeat: no-repeat;
    background-position-x: 12%;
    padding-left: 20px;

    text-align: center;
    align-items: center;
    cursor: pointer;
}

.set-buttons.verao{
  background-size: 22px 22px;
  background-image: url('../../../Images/Filtros/verao_icon.png');
}
.set-buttons.verao:hover{
  background-size: 22px 22px;
  background-image: url('../../../Images/Filtros/veraoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
}
.set-buttons.verao.active{
  background-size: 22px 22px;
  background-image: url('../../../Images/Filtros/veraoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
}

.set-buttons.inverno{
  background-size: 20px 20px;
  background-image: url('../../../Images/Filtros/inverno_icon.png');
}
.set-buttons.inverno:hover{
  background-size: 20px 20px;
  background-image: url('../../../Images/Filtros/invernoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
}
.set-buttons.inverno.active{
  background-size: 20px 20px;
  background-image: url('../../../Images/Filtros/invernoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
}

.set-buttons.outono{
  background-size: 16px 20px;
  background-image: url('../../../Images/Filtros/outono_icon.png');
}
.set-buttons.outono:hover{
  background-size: 16px 20px;
  background-image: url('../../../Images/Filtros/outonoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
}
.set-buttons.outono.active{
  background-size: 16px 20px;
  background-image: url('../../../Images/Filtros/outonoHover_icon.png');

  border: 2px solid #004369;
  background-position-x: 11%;
  background-color: #B2C9DB;
  color: #004369;
  
}

.scales{
    display: flex;
    flex-direction: column;
    gap: 5px;

    margin-bottom: 20px;
}
.custom-select{
  position: relative;
  display: inline-block;
  width: 162px;
}

.custom-select::after{
    content: "⌵";
    position: absolute;
    right: 15px;
    top: 45%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
    color: #BFC1C3;
}

.scales > span{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    list-style-type: none;
    font-weight: 500;
    color: #004369;
}

.scales-select{
    border: none;
    border-radius: 10px;
    background-color: white;

    color: #BFC1C3;
    font-size: 15px;

    background-size: 20px;
    background-position: 12px center; 
    background-repeat: no-repeat;

    padding-left: 45px;
    align-items: center;

    width: 162px;
    height: 40px;

    cursor: pointer;

    appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
}

.scales-select::-ms-expand{
  display: none;
}

.scales-select option{
    color: black;
    font-size: 15px;
}

.scales-select:focus{
    outline: none;
}


::placeholder{
    color: #004369;
}


.preco-voo{
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.preco-voo > span{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #004369;
  width: 100%;
}

.values-priceVoo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150%;
  margin: 0%;
  padding: 0%;
}

.preco-voo .slider-voo input{
  width: 150%;
  height: 7px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #004369 0%, #004369 var(--progress), #fff var(--progress), #fff 100%);
  border-radius: 25px;

  margin: 0%;
  
  cursor: pointer;
}

.preco-voo .slider-voo input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px;
  background: #B2C9DB; 
  border: 2px solid #fff; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.preco-voo .slider-voo input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px;
  background: #B2C9DB; 
  border: 2px solid #fff; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.values-priceVoo .valor{
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: #004369;
}

.partida-voo{
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.partida-voo > span{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #004369;
  width: 100%;
}

.values-partidaVoo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150%;
  margin: 0%;
  padding: 0%;
}

.partida-voo .slider-partida input{
  width: 150%;
  height: 7px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #004369 0%, #004369 var(--progress), #fff var(--progress), #fff 100%);
  border-radius: 25px;

  margin: 0%;
  
  cursor: pointer;
}

.slider-partida input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px;
  background: #B2C9DB; 
  border: 2px solid #fff; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.slider-partida input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none; 
  appearance: none;
  width: 20px; 
  height: 20px;
  background: #B2C9DB; 
  border: 2px solid #fff; 
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.values-partidaVoo .hora{
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  color: #004369;
}

.companies{
    display: flex;
    flex-direction: column;

    margin-bottom: 22px;
}

.companies > span{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #004369;
    font-style: normal;
}

.companies > div{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.button-companies-gol{
    border: none;
    border-radius: 10px;

    background-color: white;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #BFC1C3;

    background-size: 20px;
    background-position: 12px center; 
    background-repeat: no-repeat;

    padding-left: 20px;
    align-items: center;
    cursor: pointer;

    width: 80px;
    height: 40px;
}
.button-companies-gol:hover{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}
.button-companies-gol.active{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}

.button-companies-latam{
    border: none;
    border-radius: 10px;

    background-color: white;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #BFC1C3;

    background-size: 20px;
    background-position: 12px center; 
    background-repeat: no-repeat;

    padding-left: 25px;
    align-items: center;
    cursor: pointer;

    width: 98px;
    height: 40px;
}
.button-companies-latam:hover{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}
.button-companies-latam.active{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}

.button-companies-azul{
    border: none;
    border-radius: 10px;

    background-color: white;

    font-size: 15px;
    font-family: "Poppins", sans-serif;
    color: #BFC1C3;

    background-size: 20px;
    background-position: 12px center; 
    background-repeat: no-repeat;

    padding-left: 25px;
    align-items: center;
    cursor: pointer;

    width: 85px;
    height: 40px;
}
.button-companies-azul:hover{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}
.button-companies-azul.active{
  border: 2px solid #004369;
  background-color: #B2C9DB;
  color: #004369;
  background-position: 10px center; 
}

.btn-filtro-voo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-filt-voo{
    border: none;
    border-radius: 22.93px;

    width: 170px;
    height: 46px;

    background-color: #FF6600;
    
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: white;

    cursor: pointer;

}


@media(max-width:1080px) {
  .container-all-filter{
    width: 240px;
    height: 920px;
  }

  .button-seasons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .preco-voo .slider-voo input{
    width: 120%;
  }

  .partida-voo .slider-partida input{
    width: 120%;

  }

  .values-priceVoo{
    width: 120%;
  }

  .values-partidaVoo{
    width: 120%;
  }

  .companies > div{
    flex-direction: column;
    align-items: center;
  }

  .button-companies-gol{
    width: 100%;
  }
  .button-companies-latam{
    width: 100%;
  }
  .button-companies-azul{
    width: 100%;
  }
}

@media(max-width: 580px) {

  .container-all-filter{
    opacity: 0;
    visibility: hidden; /* Oculta o elemento */
    transition: opacity 0s ease, visibility 0s 0s;
    width: 20px;
    height: 920px;
  }

  #filtro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
  
    cursor: pointer;
  }
  .container-all-filter.active{
    opacity: 1; /* Torna o elemento visível */
    visibility: visible; /* Torna o elemento visível */
    transition: opacity 0.5s ease, visibility 0s 0s;
    display: flex;
    width: 260px;
    height: 920px;
  }


  .button-seasons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .preco-voo .slider-voo input{
    width: 120%;
  }

  .partida-voo .slider-partida input{
    width: 120%;

  }

  .values-priceVoo{
    width: 120%;
  }

  .values-partidaVoo{
    width: 120%;
  }

  .companies > div{
    flex-direction: column;
    align-items: center;
  }

  .button-companies-gol{
    width: 100%;
  }
  .button-companies-latam{
    width: 100%;
  }
  .button-companies-azul{
    width: 100%;
  }

}