.filter-space,
.filter-container {
  display: flex;
  /* Utiliza flexbox para alinhamento em linha */
  width: 100%;
  height: 138px;
  gap: 40px;
  /* Espaçamento entre os botões */
  justify-content: center;
  /* Alinha os botões no centro horizontalmente */
  align-items: center;
  padding: 20px;
}

.filter-space {
  justify-content: space-around;

  border-radius: 20px;
  border: 1px solid #d3d3d3;

  width: 70%;
  height: 98px;
  background: linear-gradient(to right, #c7e2f240, #73838c10);
  align-items: center;
}


.btn-fly,
.btn-car,
.btn-hotel,
.btn-turistic {
  font-size: 28px;
  font-weight: 300;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  padding-left: 30px;
  cursor: pointer;
}

.btn-fly {
  width: 138px;
  height: 40px;

  background-image: url('../../../Images/FiltroPlano/Aviao-Icon-Cinza.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 30px;

}

.btn-hotel {
  width: 260px;
  height: 40px;

  background-image: url('../../../Images/FiltroPlano/Hotel-Icon-Cinza.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 25px;
}

.btn-car {
  width: 154px;
  height: 40px;


  background-image: url('../../../Images/FiltroPlano/Carro-Icon-Cinza.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
}

.btn-turistic {
  width: 287px;
  height: 40px;

  background-image: url('../../../Images/FiltroPlano/Turistico-Icon-Cinza.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
}


.btn-fly:hover {
  background-image: url('../../../Images/FiltroPlano/Aviao-icon-azul.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 30px;


  color: #ACC6E9;
}

.btn-hotel:hover {
  background-image: url('../../../Images/FiltroPlano/Hotel-Icon-Azul.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 25px;

  color: #ACC6E9;
}

.btn-car:hover {
  background-image: url('../../../Images/FiltroPlano/Carro-Icon-Azul.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;

  color: #ACC6E9;
}

.btn-turistic:hover {
  background-image: url('../../../Images/FiltroPlano/Turistico-Icon-Azul.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;

  color: #ACC6E9;
}

.btn-fly.active {
  filter: none;
  background-image: url('../../../Images/FiltroPlano/Aviao-icon.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 27px;
  background-color: #2378BC;
  /* Altera a cor de fundo ao clicar */
  color: #fff;
  /* Altera a cor do texto ao clicar */
  border-color: #2378BC;
  /* Altera a cor da borda */
  transform: scale(1.1);
  /* Aumenta o tamanho do botão ao clicar */
}

.btn-hotel.active {
  filter: none;
  background-image: url('../../../Images/FiltroPlano/Hotel-Icon.png');
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 27px;
  background-color: #2378BC;
  /* Altera a cor de fundo ao clicar */
  color: #fff;
  /* Altera a cor do texto ao clicar */
  border-color: #2378BC;
  /* Altera a cor da borda */
  transform: scale(1.1);
  /* Aumenta o tamanho do botão ao clicar */
}

.btn-car.active {
  filter: none;
  background-image: url('../../../Images/FiltroPlano/Carro-Icon.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
  background-color: #2378BC;
  /* Altera a cor de fundo ao clicar */
  color: #fff;
  /* Altera a cor do texto ao clicar */
  border-color: #2378BC;
  /* Altera a cor da borda */
  transform: scale(1.1);
  /* Aumenta o tamanho do botão ao clicar */
}

.btn-turistic.active {
  filter: none;
  background-image: url('../../../Images/FiltroPlano/Turistico-Icon.png');
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 28px;
  background-color: #2378BC;
  /* Altera a cor de fundo ao clicar */
  color: #fff;
  /* Altera a cor do texto ao clicar */
  border-color: #2378BC;
  /* Altera a cor da borda */
  transform: scale(1.1);
  /* Aumenta o tamanho do botão ao clicar */
}

.edit-space {
  display: flex;
  align-content: center;
  gap: 25px;
}

.edit-innerSpace {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.edit-innerSpace.delete {
  display: none;
}

.edit-innerSpace.delete.active {
  display: flex;
}

.btn-edit {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.3s;
}

.btn-edit.edit {
  background-color: #FF6600;

  background-image: url('../../../Images/Icones_PlanoViagens/icon_editar_planoViagens.png');
  background-size: 31px, 31px;
}

.btn-edit.delete {
  visibility: hidden;
  background-color: #BC0B0B;

  background-image: url('../../../Images/FiltroPlano/deletar.png');
  background-size: 31px, 31px;
  transform: translateX(-89px);
  z-index: -10;
}

.btn-edit.edit.active {
  background-color: #2378BC;
}

.btn-edit.delete.active {
  visibility: visible;
  transform: translateX(0);
  z-index: 10;
}

.edit-innerSpace>span {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
}

.spanDelete {
  visibility: hidden;
  transform: translateX(-89px);
  z-index: -10;
}

.spanDelete.active {
  visibility: visible;
  transform: translateX(0);
  z-index: 10;
}

.container-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkBox-filtroPlano {
  background-color: white;

  border-radius: 10px;
  border: 2px solid #ACC6E9;

  height: 40px;
  width: 40px;

  cursor: pointer;

  transition: background-color 0.1s, border 0.1s;
}

#checkBox-filtroPlano:focus {
  outline: none;
}

#checkBox-filtroPlano:checked {
  background-color: #2378BC;
  border: 6px solid white;
}