.navbar-testes{
    height: 75px;
}

.footer-testes{
    height: 250px;
}

.conteudo-testes{
    display: flex;
    flex-direction: column;
    padding-top: 30px;

    justify-items: center;
    align-items: center;

}