.container-informacoes{
    display: grid;
    width: 100%;
    height: 110vh;

    grid-template: 18% auto / 30% auto;
    grid-template-areas: 
    "barra-pesquisa-infoPage barra-pesquisa-infoPage"
    "filtro-infoPage cards-infoPage";

    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.barra-pesquisa-infoPage{
    grid-area: barra-pesquisa-infoPage;

    display: grid;
    grid-template-rows: 30% auto;
    height: 100%;
    justify-items: center;
}

.titulo-infoPage{
    font-size: 36px;
    font-weight: medium;
    text-decoration: none;
}

.filtro-infoPage{
    grid-area: filtro-infoPage;
}

.container-cards-infoPage{
    grid-area: cards-infoPage;
}