.container-addplano{
    background: #ffffff;
    border-radius: 79px;

    border: #000000 1px solid;

    padding: 20px;
    max-width: 1020px;
    margin: 40px auto; 
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 4;

    position: fixed;
    justify-content: center;
    overflow: hidden;
}

.cima-addplano {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    padding: 0 60px;
}

.titulo-addplano{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;

    text-align: center;
    flex: 1;

    color: #000000;
}

.x-addplano{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.meio-addplano {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 70px;
    padding: 0 130px;
}

.card-addplano{
    width: 100%;
    max-width: 117.99px;
    height: 100%;
    max-height: 213px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #ACC6E9;
    border-radius: 12.42px;
    box-shadow: 0px 4px 14px rgba(178, 201, 219, 0.15);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
}

.card-addplano:hover {
    background: #C7E2F2;
    border-width: 0px 0.62px 0.62px 0.62px;
    border-style: solid;
    border-color: #000000;
    border-radius: 12.42px 12.42px 9.31px 9.31px;
}

.img-cardaddplano{
    width: 100%;
    height: 180px; 
    object-fit: cover;
    border-radius: 12.42px 12.42px 0 0;
    transition: background 0.3s, border 0.3s;
}

.card-addplano:hover .img-cardaddplano {
    background: rgba(0, 0, 0, 0.33);
    border-width: 0px 0.62px 0.62px 0.62px;
    border-style: solid;
    border-color: #000000;
    border-radius: 12.42px 12.42px 0 0;
}

.nome-cardaddplano,
.data-cardaddplano,
.preco-cardaddplano {
    padding: 1px;
    text-align: left;
    font-size: 8px;
}


.nome-cardaddplano{
    font-weight: 500;
    padding-left: 10px;
    padding-top: 8px;
}

.data-cardaddplano{
    padding-left: 10px;
    padding-top: 4px;
    font-weight: 250;
}

.preco-cardaddplano{
    font-weight: 500;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 9px;
}

.baixo-addplano {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 0 100px 20px;
}

.btn-addplano{
    width: 177px;
    height: 46px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
}