.backgroundHomeGenerica {
    width: 2000px;
    height: 1760px;
    position: absolute;
    z-index: -5;

    top: 3%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.fundoInicio-homeGenerica {
    height: 700px;
    display: grid;
    grid-template-rows: 28% 25% auto;
    grid-template-columns: 100%;
    margin-top: 100px;
    margin-bottom: 120px;
}

.containerTitulo-homeG {
    display: flex;
}

.titulo-homeG {
    width: 100%;
    text-align: center;
    align-self: flex-end;
    font-size: 110px;
    font-weight: 900;
    font-style: normal;
    color: white; 
}

.containerSubTitulo-homeG {
    display: flex;
}

.subtitulo-homeG {
    width: 100%;
    text-align: center;
    align-self: top;
    font-size: 33px;
    font-weight: 300;
    font-style: normal;
    color: white; 
}

.containerVantagens-homeG {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 7.5% 0 7.5%;
}

.subcontainerVantagens-homeG {
    display: grid;
    grid-template-columns: 100%;
    align-content: space-evenly;
}

.circuloVantagem-homeG {
    min-width: 64px;
    min-height: 64px;
    background-color: #004369;
    border: 8px solid #C6D5EA;
    border-radius: 50%;
}

.divTextoVantagem-homeG {
    display: flex;
    align-items: center;
    gap: 15px;
}

.divTextoVantagem-homeG > span {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: white; 
}

@media (max-width: 1320px) {
    .titulo-homeG {
        font-size: 90px;
    }

    .divTextoVantagem-homeG > span {
        font-size: 13px;
    }

    .circuloVantagem-homeG {
        min-width: 50px;
        min-height: 50px;
        border: 6px solid #C6D5EA;
    }    
}

@media (max-width: 1100px) {
    .titulo-homeG {
        font-size: 70px;
    }
}

@media (max-width: 900px) {
    .titulo-homeG {
        font-size: 45px;
    }

    .vazio{
        display: none;
    }

    .containerVantagens-homeG {
        grid-template-columns: 33% 33% 33%;
    }
}