.containerGeral-tutorialHomeG{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 78px;
    margin-bottom: 158px;
}

.titulo-tutorialHomeG{
    text-align: center;

    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.containerCards-tutorialHomeG{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
}

.cardTutorialHomeG{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    padding: 20px;
    
    font-size: 24px;
    font-weight: 800;
    color: #fff;
}

.cardTutorialHomeG.azul{
    background-color: #004369;
    border-radius: 0 23px 23px 0;
}

.cardTutorialHomeG.laranja{
    background-color: #FF6600;
    border-radius: 23px 0 0 23px;
}

@media (max-width: 1200px) {
    .titulo-tutorialHomeG{
        font-size: 35px;  

    }

    .cardTutorialHomeG{
        font-size: 18px;
    }
}