.body_cad{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

input[type="checkbox"] {
    appearance: none; 
    width: 11px;
    height: 11px;
    border: 2px solid #000000;
    border-radius: 1px; 
    cursor: pointer;
    position: relative;
}

.title_forms{
    font-size: 47px;
    font-weight: 500;

    margin-bottom: 19px;

    Position: relative;
}

.title_log{
    font-size: 59px;
    font-weight: 600;
    color:#ffffff;

    text-align: center;
    width: 492.5px;

    position: relative;
}

.manter_conectado{
    font-size: 13px;
    color: #A6A6A6;
}

.link_log{
    font-size: 21px;
    font-weight: 300;
    color:#ffffff;

    position: relative;
}

.position_title_log {
    text-align: center;
    color: #ffffff;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.container{
    width: 1247px;
    height: 749px;

    position: relative;
}

.card-cadastro-esq{
    background: linear-gradient(#2378BC, #72A5CD, #B2C9DB);
    border-radius: 33px 0px 0px 33px;

    width: 50%;
    height: 100%;

    left: 0;
    top: 0;

    position: absolute;

    display: grid;
    place-items: center;
}

.card-cadastro-dir{
    background: linear-gradient(#CAD9EE, #ACC6E9);
    border-radius: 0px 33px 33px 0px;

    width: 50%;
    height: 100%;

    right: 0;
    top: 0;

    position: absolute;

    display: grid;
    place-items: center;
}

.input[type=text]{
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    display: flex;
    padding-left: 10px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    width: 291px;
    height: 40px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    margin-top: 5px;
}

.btn-submit{
    width: 177px;
    height: 46px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
    margin-top: 27px;
}
  
.img_log_cad{
    width: 40px;
    height: 40px;
    margin-top: 27px;
}

.forms{
    display: grid;
    place-items: center;

    position: absolute;

    margin-top: 29px;
    margin-bottom: 29px;
}