.main-grid-planos-viagem{
    display: grid;
    height: 110vh;
    width: 100%;
    grid-template-rows: 10% 8% auto;

    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
}

.titulo-planos-viagem{
    font-size: 40px;
    font-weight: medium;
}

.grid-cards-planos-viagem{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin: 80px 0;
    width: 100%;
}

.barraBotoes-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.barra-pesquisa-planos-viagem{
    display: flex;
}

.container-cardsPlanoViagem{
    display: flex;
    width: 100%;
    gap: 80px;
    justify-content: center;
}

.divBtnCriarPlano{
    position: absolute;
    margin: 15% 0 0 60%;
    justify-content: center;
}

.popupadd{
    
    top: 60%;
    left: 50%;
    position: fixed;
    justify-content: center;
    
}

.LinkPlanos{
    font-style: normal;
    text-decoration: none;
    color: black;
}