.main-grid-planos-viagem{
    display: grid;
    height: 110vh;
    width: 100%;
    grid-template-rows: 10% 8% auto;

    justify-items: center;
    align-items: center;
    margin-bottom: 15px;
}

.titulo-planos-viagem{
    font-size: 40px;
    font-weight: medium;
}

.grid-cards-planos-viagem{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    width: 95%;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    gap: 40px;
}

.divBtnCriarPlano{
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.popupadd{
    
    top: 500px;
    position: fixed;
    justify-content: center;
    
}