.card-hospedagem {
    background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
    border-radius: 20px;

    margin: 0 auto;
    width: 90%;
    height: 400px;
    margin-top: 15vh;
    justify-items: center;

    display: grid;
    grid-template-rows: 25% 75%; /*Linhas e Colunas*/
    padding-top: 50px;
    padding-right: 90px;
    padding-left: 90px;
    padding-bottom: 65px;
}

.title-hospedagem {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 50px;
    font-weight: 500;
}

.hospedagem-imagem {
    position: absolute;
    width: 38%;
    height: 62%;
    top: 10%;
    left: 5%;
}

.form-card-hospedagem {
    display: grid;
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 25px;
    width: 60%;

    background: linear-gradient(to bottom, #ffffff80, #ffffff40);
    border: 1.5px solid #a6a6a680;
    border-radius: 20px;
    z-index: 1;
}

.grid-inputs-hospedagem {    
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.input-form-hospedagem {
    display: grid;
    width: 90%;
    grid-template-rows: 30% 70%;
    justify-content: center;
}

.etiqueta-hospedagem {
    margin-left: 15px;
}

.input-hospedagem[type=text] {
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    display: flex;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 201px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    outline: none;
}

.input-hospedagem[type=date] {
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    display: flex;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 201px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
    outline: none;
}

.btn-pesquisar-hospedagem {
    display: flex;
    align-self: top;
    justify-content: center;
    padding-top: 22px;
}

.btn-submit-hospedagem {
    width: 203px;
    height: 46px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
}

/* Destinos mais Populares Hospedagem */

.destinos-populares-hospedagem{
    display: grid;
    width: 100%;
    margin-top: 200px;
    justify-items: center;
}

.titulo-populares-hospedagem{
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
}

.destinos-populares-cards{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

/* Recomendação por Orçamento Hospedagem */

.recomendacoesOrcamento-hospedagem{
    display: grid;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
    justify-items: center;
}

.titulo-recomendacoes-hospedagem{
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
}

.recommendations-HOSPEDAGENS-cards{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

.btn-verMais-hospedagem{
    width: 203px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
}

