/* Estilo do Card de Hospedagem */
.hospedagem-imagem {
    grid-area: imagem;
    position: absolute;
    width: 35%;
    height: auto;
    bottom: 250px;
    left: 5%;
    max-width: 100%;
}

.card-hospedagem {
    background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
    border-radius: 20px;

    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top: 15vh;
    justify-items: center;

    display: grid;
    grid-template-rows: 25% 75%; 
    padding: 50px 90px 65px;
    margin-bottom: 40px;
}

.title-hospedagem {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 50px;
    font-weight: 500;
}

.form-card-hospedagem {
    display: grid;
    padding: 20px 35px 25px;
    width: 70%;
    height: fit-content;
    background: linear-gradient(to bottom, #ffffff80, #ffffff40);
    border: 1.5px solid #a6a6a680;
    border-radius: 20px;

    z-index: 1;
}

.grid-inputs-hospedagem {    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 

    z-index: 2;
}

.input-form-hospedagem {
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
    justify-content: center;
}

.etiqueta-hospedagem {
    margin-left: 15px;
    margin-bottom: 5px;
}

.input-hospedagem[type=text] {
    background-size: 24px;
    background-position: 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
}

.input-hospedagem[type=date] {
    background-size: 24px;
    background-position: 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 1px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    min-width: 180px;
    max-width: 180px;
    box-shadow: 0px 4px 14px 0px #B2C9DB;
}

.input-hospedagem:focus{
    outline: none;
}

.btn-pesquisar-hospedagem {
    display: flex;
    align-self: center;
    justify-content: center;
}

.btn-submit-hospedagem {
    width: 100%; 
    max-width: 203px; 
    padding: 10px 30px; 
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Destinos mais Populares Hospedagem */

.destinos-populares-hospedagem{
    display: grid;
    width: 100%;
    margin-top: 200px;
    justify-items: center;
}

.titulo-populares-hospedagem{
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.destinos-populares-cards{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

/* Recomendação por Orçamento Hospedagem */

.recomendacoesOrcamento-hospedagem{
    display: grid;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 200px;
    justify-items: center;
}

.titulo-recomendacoes-hospedagem{
    font-size: 40px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.recommendations-HOSPEDAGENS-cards{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 75px;
}

.btn-verMais-hospedagem{
    width: 203px;
    height: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    background-color: #FF6600;
    border-radius: 23px;
    border: none;
    box-shadow: 0px 4px 16px 0px #00000025;
    cursor: pointer;
}

/* Responsividade */

@media (max-width: 1200px) {
    .hospedagem-imagem {
        display: none; 
    }

    .grid-inputs-hospedagem {
        grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas para os inputs */
        gap: 20px;
        align-items: center; /* Centraliza verticalmente */
    }

    .btn-pesquisar-hospedagem {
        grid-column: span 2; /* Faz o botão ocupar toda a largura das 2 colunas */
        display: flex;
        justify-content: center; /* Centraliza o botão dentro do grid */
        margin-top: 20px; /* Espaço superior */
    }

    .btn-submit-hospedagem {
        max-width: 300px; /* Limita a largura máxima */
        width: 100%; /* Garante que o botão preencha a largura disponível */
    }

    .input-hospedagem[type=date]{
        max-width: 140px;
        min-width: 140px;
    }
    .input-hospedagem[type=text]{
        max-width: 140px;
        min-width: 140px;
    }
}

@media (max-width: 850px){
    .input-hospedagem[type=date]{
        max-width: 200px;
        min-width: 200px;
    }
    .input-hospedagem[type=text]{
        max-width: 200px;
        min-width: 200px;
    }

    .form-card-hospedagem {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .hospedagem-imagem {
        display: none; 
    }

    .card-hospedagem {
        grid-template: 20% 80% / 1fr;
        grid-template-areas:
            "title"
            "form";
        padding: 20px;
    }

    .title-hospedagem {
        justify-content: center;
        margin-top: 20px;
    }

    .grid-inputs-hospedagem {
        grid-template-columns: 1fr 1fr; 
    }

    .destinos-populares-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
        padding: 0 15px;
    }

    .recommendations-HOSPEDAGENS-cards {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 20px;
        width: 80%;
        justify-items: center;
    }

}

@media (max-width: 650px) {
    .card-hospedagem {
        background: linear-gradient(#C7E2F2, #BCD7E7, #BBCFDA);
        width: 100%;
        height: 900px;
        border-radius: 0;
        padding: 20px;
    }

    .grid-inputs-hospedagem {
        grid-template-columns: 1fr; 
        gap: 20px; 
        width: 100%; 
    }

    .btn-pesquisar-hospedagem {
        grid-column: 1 / -1; 
        display: flex;
        justify-content: center; 
        margin-top: 20px; 
    }

    .btn-submit-hospedagem {
        width: 100%; 
        max-width: 300px; 
    }

    .input-form-hospedagem {
        gap: 5px; 
    }
}

@media (max-width: 600px){
    .input-hospedagem[type=date]{
        min-width: 150px;
        max-width: 150px;
    }
    .input-hospedagem[type=text]{
        min-width: 150px;
        max-width: 150px;
    }
}

@media (max-width: 480px){
    .input-hospedagem[type=date]{
        min-width: 180px;
        max-width: 180px;
    }
    .input-hospedagem[type=text]{
        min-width: 180px;
        max-width: 180px;
    }
}

